*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100dvh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('../img/BMW_S1000_rr.png') no-reapet center center ;
    background-size: cover;  
    
}
h1{
    margin: ;
}
p {
    margin-top: 20dvh;
    margin-right: 100dvh;
}
.container {
    display: flex;              
    justify-content: space-between; 
    align-items: center;        
    padding: 20px;              
    height: 100vh;              
    color: white;             
}

.texto {
    flex: 1; 
    text-align: left; 
}